<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Medicare Fraud Detection</title>
  
  <!-- Favicon Link -->
  <link rel="icon" type="image/png" href="../static/images/image.png">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/superhero/bootstrap.min.css">

  <!-- Our CSS -->
  <link rel="stylesheet" type="text/css" href="../static/css/style.css">

  <!-- D3 JS -->
  <script src="https://d3js.org/d3.v5.min.js"></script>
  
  <!-- Our CSS -->
  <link rel="stylesheet" type="text/css" href="../static/css/style.css">

</head>

<header>

  <span class="header-logo"><a aria-label="Home page" href="/"><img src="https://trilogyed--c.na35.content.force.com/servlet/servlet.ImageServer?id=01541000003WWR6&amp;oid=00D410000006puJ&amp;lastMod=1527718436000" alt="Case Western Reserve University"></a></span>

</header>

<div class="navbar-brand">
  <a class="active" href="#" class="index.html">Home</a>
  <a href="state.html">Health Data by State</a>
  <a href="demographics.html">Demographics</a>
  <a href="methodology.html">Methodology</a>    
</div>

<body>

  <div class="container-fluid">
    <h1>Detecting Fraud in Medicare</h1>
      <div class="jumbotron1">
        <p style="text-align:center;"><img src="images/medicare.png" alt="Medicare">
        <br>
      </div>
  </div>
    
  <br>

  <h2> Introduction</h2>

    <h3>
      Healthcare is a major industry in the U.S. with both private and government run programs. The costs of 
      healthcare continue to rise. U.S. healthcare spending from 2012 to 2017 has increased by 31% to $3.7 
      trillion and Medicare spending accounts for 20% of all health-care spending in the U.S. at about $750 billion. 
      The increasing elderly population, along with the rising prices of Medicare, requires cost-cutting solutions, 
      where the elimination of fraud is one way of helping to minimize costs and reduce total payments. 
      The impact of healthcare fraud is estimated to be between 3% to 10% of the nation’s total healthcare spending and 
      continuing to adversely impact the Medicare program and its beneficiaries. 

      Government launched multi-agency teams, such as the Medicare Fraud Strike Force, the Miami task force, the first
      and largest, was launched in 2007(OIG 2007). Today, there are 15 strike force teams operating in 24 districts 
      that have charged nearly 4,000 defendants who have collectively billed the Medicare program for more than 
      $14 billion, according to the Department of Justice.
      The task forces bring together the Office of Inspector General, the DOJ, Offices of the United States Attorneys, 
      the Federal Bureau of Investigation and local law enforcement.
      Yet, the scourge of Medicare fraud is still festering.
      
      In July of 2017, the U.S. witnessed the largest healthcare fraud takedown this nation has ever seen. By the time
      this joint effort conducted by the Department of Health and Human Services Office of the Inspector General (OIG)
      and state and federal law enforcement agencies was done, more than 400 defendants were charged in a court of law
      and accused of participating in some type of fraudulent Medicare and/or Medicaid scheme.
      
    </h3>

     <br>

     <p style="text-align:center;"><img src="images/spending_rates.png" alt="Spending Rates" width="400"
          height="300">
      
     <br>
   
     <h2>What is Medicare Fraud? The Basics</h2>
     
     <br>
     
     <h3>
      “Medicare fraud” is actually a blanket term encompassing different fraudulent activities related to the Medicare
      system. Here are a few of the most common, as reported by the National Health Care Anti-Fraud Association (NHCAA)
      Medicare fraud is the act of claiming reimbursement for health care services through Medicare to which you're not 
      entitled, often through identity theft or using someone else's Medicare Card number. 

      Other types of Medicare fraud include the following:


      • Fraud by Service Providers (Physicians, hospitals, pharmacies)</p>
      <p>• Fraud by Insurance subscribers (Beneficiaries)</p>
      <p>• Conspiracy Frauds (involved with all parties)</p>
     </h3>
      
      <h3>

        <p>• Fraud by Service Providers (Physicians, hospitals, pharmacies)</p>
        <p>• Fraud by Insurance subscribers (Beneficiaries)</p>
        <p>• Conspiracy Frauds (involved with all parties)</p>
      
      <br>
      
        <p>Also along with fraud the following patterns reported by OIG report:</p>
      
        <br>

        <p>• Commonly abuse prescribed drugs (opioids) has grown faster than for all Part D drugs</p>
        <p>• Pharmacies with questionable billing raise flags about pharmacy-related fraud schemes</p>
        <p>• Geographical hotspots from these non-controllable drugs contribute to potential fraudulent activity.</p>
    < /h3>

      <br>
        
      <p><font size="4">Visuals: ??
      
      
    </h3>

</body>

<div class="footer">
  <nav class="navbar navbar-footer">
    <div class="container-fluid">
      <div class="navbar-footer">
        <span class="navbar-text navbar-right">Case Western Reserve University - Data Analytics Bootcamp<br>Team
          Members: Clay - Diego - Mike</span>
        <span class="navbar-text navbar-left">Final Project - Medicare Fraud Detection <br>Machine Learning </span>
      </div>
    </div>
  </nav>
</div>
<!-- <script src="#"></script>
<script src="#"></script> -->

</html>