<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Medicare Fraud Detection</title>

  <!-- Favicon Link -->
  <link rel="icon" type="image/png" href="../static/images/image.png">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/superhero/bootstrap.min.css">

  <!-- Our CSS -->
  <link rel="stylesheet" type="text/css" href="../static/css/style.css">

  <!-- D3 JS -->
  <script src="https://d3js.org/d3.v5.min.js"></script>

  <!-- Our CSS -->
  <link rel="stylesheet" type="text/css" href="../static/css/style.css">
  <!-- <script src="{{ url_for('static', filename='css/style.css') }}"></script> -->

</head>

<body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="index.html">Home</a>
      </div>
      <ul class="nav navbar-nav">
        <li><a href="state.html">Health Data by State</a></li>
        <li><a href="demographics.html">Demographics</a></li>
        <li class="active"><a href="#">Our Methodology</a></li>
      </ul>
  </nav>

    <div class="container jumbotron1">
      <div class="row">
  
        <div class="btn-toolbar pull-right">
          <div class='btn-group'>
            <a class="btn btn-primary btn-lg" href="methodology_p2.html" role="button">Page Two</a>
          </div>
        </div>
  
        <h1>Detecting Fraud in Medicare</h1>
  
      </div>
  
    </div>
  
    <div>

      <img src="images/Slide1.png" class="img-fluid jumbotron1" alt="Responsive image">

    </div>

  </div>

</body>


</html>